@import url(http://fonts.googleapis.com/css?family=Questrial|Playfair+Display:400,700);

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'SweetSansPro-Bold';
	src:url('../../assets/fonts/LethalDose-Regular.otf') format('opentype');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #333;
	font-size: 1em;
	font-family: 'SweetSansPro-Bold', Helvetica, Arial, sans-serif;
	overflow-x:hidden; 
}
.menu,.nav-menu{
	display: none;
}
a {
	outline: none;
	color: rgb(160, 148, 147);
	text-decoration: none;
}

a:hover, a:focus {
	color: rgb(197, 135, 130);
}

.mobile-note {
	position: absolute;
	bottom: 1em;
	color: #fff;
	font-size: 1.15em;
	text-align: center;
	width: 100%;
	padding: 1em;
	background: #fb7f93;
	display: none;
	font-family: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.seprate{
	margin-bottom:45px;margin-top:45px;
}
/* Header */
.codrops-header {
	text-align: center;
	height: 100vh;
	overflow: hidden;
	background: url("../../assets/images/1.jpg") no-repeat center center;
	background-size: auto 100vh;
}

.codrops-header h1 {
	margin: 0.5em 0 0;
	letter-spacing: -1px;
	font-weight: 400;
	font-size: 4.25em;
	line-height: 1;
	position: absolute;
	width: 100%;
	top: 25vh;
	color: #fff;
	pointer-events: none;
	font-family: 'Playfair Display', Georgia, serif;
}

.codrops-header h1 span {
	display: block;
	padding: 2em 0 1em;
	color: #3a3231;
	font-size: 0.2em;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 3px;
	text-shadow: none;
	font-family: 'Questrial', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.github-link {
	font-size: 0.95em;
	position: absolute;
	right: 60px;
	top: 22px;
}

.github-link span {
	margin: 0 0 0 5px;
}

.hero {
	position: absolute;
	top: 60px;
	left: 60px;
	bottom: 60px;
	right: 60px;
	overflow: hidden;
}

.hero__imgwrap {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.hero__imgwrap::after {
	content: '';
	position: absolute;
	background: rgba(76,0,1,0.1);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.hero__img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: 100vh;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.hero__imgwrap .tilt__back,
.hero__imgwrap .tilt__front {
	background-size: auto 100vh;
}

/* Top Navigation Style */
.codrops-links {
	position: absolute;
	z-index: 1000;
	display: inline-block;
	text-align: center;
	font-size: 0.85em;
	white-space: nowrap;
	left: 60px;
	top: 15px;
}

.codrops-links::after {
	position: absolute;
	top: 0;
	left: 51%;
	width: 1px;
	height: 100%;
	background: rgba(160, 148, 147, 0.5);
	content: '';
	-webkit-transform: rotate3d(0,0,1,22.5deg);
	transform: rotate3d(0,0,1,22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0em 0;
	width: 1.5em;
	text-decoration: none;
}

.codrops-icon span {
	display: none;
}

.codrops-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;

	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon--drop:before {
	content: "\e001";
}

.codrops-icon--prev:before {
	content: "\e004";
}

/* Content */
.content {
	padding: 4em 0 2em;
}

.content > p {
	max-width: 900px;
	margin: 1em auto;
	padding: 1em 0.5em 0;
}

.content p > code {
	background: #ddd;
	display: inline-block;
	padding: 0.25em 0.5em;
	border-radius: 3px;
}

.content--color-alt {
	background: #EDE8DA;
	color: #A39C88;
}

.poster-headline {
	text-align: center;
	font-family: 'Playfair Display', Georgia, serif;
	font-size: 2.65em;
	font-weight: 400;
	margin: 0.25em 0 0.5em;
}

.poster-text {
	font-size: 1.15em;
	text-align: center;
	padding: 1em 0;
	max-width: 1000px;
	margin: 0 auto;
	line-height: 1.5;
	max-width: 800px;
}

/* Grid */
.grid {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    list-style: none;
    padding: 3em 0 0 0;
    margin: 0 auto;
    /* max-width: 1020px; */
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%
}

.grid__item {
	width: 100%;
	height: 100%
}

.grid--xray .grid__item {
	margin: 0 20px 20px;
	width: 300px;
}

.grid__item-title {
	font-family: 'Playfair Display', Georgia, serif;
	font-size: 1em;
	padding: 1em 0;
	font-weight: bold;
}

.grid__item-title code {
	color: #aaa;
	font-weight: normal;
	font-size: 0.85em;
}

.grid--xray .grid__img {
	width: 300px;
	height: 300px;
}

.grid__img img {
	max-width: 100%;
	display: block;
}

.grid__img--border .tilt__back,
.grid__img--border .tilt__front {
	border: 1px solid #333;
}

.grid__img--border .tilt {
	overflow: visible;
} 

/* Examples custom styles */
.grid--examples {
	max-width: 830px;
}

.grid--examples .grid__img {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.grid--examples .tilt {
	position: absolute;
	top: 0;
}

.grid__img--example-2::after {
	content: '';
	position: absolute;
	
	pointer-events: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.grid__img--example-3 .tilt {
	-webkit-filter: grayscale(100%) brightness(105%) contrast(120%);
	filter: grayscale(100%) brightness(105%) contrast(120%);
	-webkit-transition: filter 0.5s, -webkit-filter 0.5s;
	transition: filter 0.5s, -webkit-filter 0.5s;
}

.grid__img--example-3 .tilt:hover {
	-webkit-filter: none;
	filter: none;
}

.grid__img--example-4 .tilt {
	width: 120%;
	height: 120%;
	top: -10%;
	left: -10%;
}

/* Definition list */
.def-list {
	max-width: 900px;
	background: #f0f0f0;
	border-radius: 10px;
	margin: 1em auto;
	padding: 3%;
}

.def-list dt {
	font-family: 'Avenir', 'Helvetica', Arial, sans-serif;
}

.def-list dt:not(:first-child) {
	margin-top: 2em;
}

.def-list dd {
	margin: 0;
	font-size: 0.95em;
	line-height: 1.4;
}

/* Related demos */
.content--related {
	text-align: center;
	font-weight: bold;
	padding: 8em 0;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.media-item__img {
	max-width: 100%;
	opacity: 0.7;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	margin: 0;
	padding: 0.5em;
	font-size: 1em;
}

@media screen and (min-aspect-ratio: 1440/960) {
	.hero__imgwrap .tilt__back,
	.hero__imgwrap .tilt__front,
	.codrops-header {
		background-size: 100vw auto;
	}
	.hero__img {
		width: 100vw;
		height: auto;
	}

}

@media screen and (max-width: 40em){
	.codrops-header h1 {
		font-size: 2.5em;
	}
	.hero {
		left: 20px;
		bottom: 20px;
		right: 20px;
	}
	.mobile-note {
		display: block;
	}
	
}



.landing_outer{
	position: relative;
	width: 100%;
	height: 100vh;
}
.video_outer{
	width: 100%;
	height: 70vh;
	background: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
}
.landingVideo{
	width: 100%;
}
.reg_outer{
	width: 100%;
	height: 15vh;
	background: #000;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	text-align: center;
}
.reg_outer img{
    width: 40%;
}
.regBtn{
	width: 186px;
    height: 40px;
    background: url("../../assets/images/Button1.png") no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 40px;
    /* margin-top: 40px; */
    color: #000;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-self: center;

}
.regBtn:hover{
	opacity: 0.8;
}

.animation_outer{
	width: 100%;
	display: flex;
	height: 100vh;
	justify-content: center;
	flex-direction: row;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	align-items: center;
	align-content: center;
}
.men_left{
    width: 50%;
    height: 100%;
    right: 0px;
    position: absolute;
    z-index: 5;
}
.men_left img{    
	height: 10%;
    margin-right:-100%;
	margin-top: -25%;
	z-index: 2;
}
.women_right{
    width: 50%;
    height: 100%;
    right: 0px;
    position: absolute;
    z-index: 5;
}
.women_right img{
	    height: 10%;
    margin-right: 100%;
        margin-top: -25%;
        z-index: 2;
}

.men_left_center{
	margin-right: 0 !important;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;

}
.form1{
	padding-top: 20%;
}
.form1_anm{
	display: block;
	opacity: 1;
	bottom: 40%;
	z-index: 99;
}
.conTilt{
	position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 1;
}

.forlUl{
	position: relative;
	width: 80%;
	height: 100%;
	list-style: none;
	margin:0;
	padding: 0;
}

.forlUl li{
	color: #000;
    text-align: center;
    width: 85%;
    margin-bottom: 10px;
    text-align: left;
    line-height: 30px;
    position: relative;
    margin-left: auto;
    margin-right: 15px;
}

.forlUl li input{
	height: 36px;
	width: 100%;
	border: 0;
	padding: 5px;
	background: #ffffff;
	color: #ceb168;
	border-radius: 0px;
	font-size: 13px;
}
.forlUl li img{
	margin: 0;
	padding: 0;
	height: auto;
	width: 100%;
	margin-top: 0;
	/* margin-bottom: 25px; */
}
/* .forlUl li span{
	    float: left;
	    width: 37%;
} */

/* css for login with social media icons */

.login-withsocial-div .male, .login-withsocial-div .female{
	display: flex;
	align-items: center;
	/*text-transform: uppercase; */
	color: #818285;
}

.login-withsocial-div .male img, .login-withsocial-div .female img{
	width: 24px;
	margin-right: 1rem;
}


/* color placeholder */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #818285 !important;
  }
::-moz-placeholder { /* Firefox 19+ */
color: #818285;
}
:-ms-input-placeholder { /* IE 10+ */
color: #818285;
}
:-moz-placeholder { /* Firefox 18- */
color: #818285;
}

  /* end placeholder color */



.women_right .forlUl li{
	color: #818285;
}
.women_right .forlUl li input{
	background: #231f20;
	color: #fff;
	outline: none;
}
.women_right .forlUl li input::placeholder{
	color: #fff;
}
.forlUl li input:focus{
border: none;
}
.female,#dt_female::placeholder,#email_female::placeholder{
	color: #000;
	margin-bottom: 10px;
}
.male,#dt_male::placeholder,#email_male::placeholder{
	color: #fff;
	margin-bottom: 20px;
}
.male,.female,.guestbtn{
	cursor: pointer;
}
.finBtn{
	width: 90px;
    height: 30px;
    background: url("../../assets/images/login-btn-bg.png") no-repeat;
    background-size: cover;
    text-align: center;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
	align-self: left;
	box-shadow: none;
	border: none;
	font-weight: 700;
}

.finBtn:hover{
	opacity: 0.8;
}
.women_right .finBtn{
    background: url("../../assets/images/login-btn-bg.png") no-repeat;
	background-size: cover;
	font-weight: 700;
    border: 0;
}
.landing_outer1{
	position: relative;
	width: 100%;
	height: 100vh;
	display: none;
}
.video_outer1{
	width: 100%;
	height: 65vh;
	background: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.video_outer1 img{
	width: 33%;
}
.video_outer1 a{
	width: 33%;
}
.fb{
	width: 17% !important;
}
.reg_outer1{
	width: 100%;
	height: 25vh;
	background: #000;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	text-align: center;
}
.reg_outer1 img{
    width: 40%;
}

.forlU .her-header-txt img, .forlUl .her-header-txt img{
	width: 380px;
}

.login-button-maindiv{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

p.dont-account-txt{
	color: #86754d;
	margin: 0;
	font-size: 13px;
}

.register-txt{
	font-weight: 600;
    font-size: 12px;
    text-decoration: underline;
}

@media screen and (max-width: 800px){

	.login-withsocial-div{
		margin-top: 2.5rem;
	}
	.forlUl{
		position: relative;
		width: 100%;
		height: 100%;
		list-style: none;
		margin:0;
		padding: 0;
	}

.forlU .her-header-txt img, .forlUl .her-header-txt img{
	width: 100%;
}
	.reg_outer img{
    width: 70%;
	}
	.reg_outer1 img{
    width: 70%;
	}	
	.animation_outer{
		flex-direction: column;
	}
	.men_left,.women_right{
		top:0%;
		padding-top: 20%;
	}
	.men_left img{
		height: 13%;
		margin-top: -60%;
	}
	.women_right img{
	    height: 13%;
	    margin-top: -60%;
	}	
	/* .forlUl li{
		width: 84%;
		font-size: 13px;
	} */
}
.dt::-webkit-inner-spin-button,
.dt::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.tilt {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.tilt__back,
.tilt__front {
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tilt__back {
	position: relative;
}

.tilt__front {
	position: absolute;
	top: 0;
	left: 0;
}
.guestbtn{
    border: 1px solid #997C3F;
    color: #997C3F;
    width: 235px;
    text-align: center;
    text-transform: uppercase;
    height: 30px;
}
.heading{
	 color: #997C3F;
	 text-transform: uppercase;
	 font-size: 28px;
}
.him{
	background: url('../../assets/images/Her_Background.jpg');
	height: 92vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 50%;
    right: 0px;
    position: absolute;
    text-align: center;
}
.her{
	background: url("../../assets/images/Him_Background.jpg");
	height: 92vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 50%;
    left: 0px;
    position: absolute;
}
.animateleft{
	position: relative;
    -webkit-animation: moveleft1 3s; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: normal; /* Safari 4.0 - 8.0 */
    animation: moveleft1 3s;
    animation-direction: normal;
    overflow: hidden;
    text-align: center;
    top:50%;
    z-index: 2;
    padding: 40px;
}
.animateleft img,.animateright img{
	width: 150px;
	transition: all .2s ease-in-out
}
.animateleft img:hover,.animateright img:hover{
	transform: scale(1.1)
}
.animateright{
	position: relative;
    -webkit-animation: move 3s; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: normal; /* Safari 4.0 - 8.0 */
    animation: move 3s;
    animation-direction: normal;
    top:50%;
    z-index: 3;
    padding: 40px;
}
@keyframes move {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
            
@-webkit-keyframes move {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes moveleft1 {
  from {
    margin-left: -100%; 
  }
  to {
    margin-left: 0%;
  }
}
            
@-webkit-keyframes moveleft1 {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}
.animateleft1{
	position: relative;
    -webkit-animation: moveleft3 3s; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: normal; /* Safari 4.0 - 8.0 */
    animation: moveleft3 3s;
    animation-direction: normal;
    text-align: left;
    z-index: 2;
}

.animateright1{
	position: relative;
    -webkit-animation: move2 3s; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: normal; /* Safari 4.0 - 8.0 */
    animation: move2 3s;
    animation-direction: normal;
    text-align: right;
}
@keyframes move2 {
  from {
    left: 100%;
    
  }

  to {
   left: 0%;
   
  }
}
            
@-webkit-keyframes move2 {
  from {
    left: 100%;    
  }
  to {
    left: 0%;
  }
}
@keyframes moveleft3{
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}
            
@-webkit-keyframes moveleft3 {
  from {
    margin-left: -100%;    
  }
  to {
    margin-left: 0%;    
  }
}
.logo{width: 100%;}
.animateleft1 img{
	width: 400px;
    margin-top: 14px;
    left: -204px;
    position: absolute;
}
.animateright1 img{
	width: 400px;
    right: -200px;
    position: absolute;
}
.animateleft2{
	display: none;
}
.animateleft2 img{
    margin-top: 0px;
    width: 340px;
    position: absolute;
    right: -41%;
    display: none;
}
.animateleft3 img{
    width: 340px;
    position: absolute;
    left: -41%;
    top: 0px;
    display: none;
}
.men_left{
	display: none;
}
.himmiddle.formimg{
	top:15%;
	position: relative;
}

@media screen and (max-width: 767px){
.him{
	width: 100%;
}
.forlUl .seprate span{
	display: none;
}	
	
.seprate:after {
    border: 0.5px solid #997C3F;
    content: "";
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 80%;
}

	.seprate{
		margin-bottom:15px;margin-top:10px;
	}
	.animateleft img,.animateright img{
		    width: 90px;
	}
	.animateleft1 img{
		margin-top: 11px;
	}
	.animateright1.col-md-4 img,.animateleft1.col-md-4 img{
		width: 0px;
	}
	.him.inactive,.her.inactive{
		width: 7% !important;
	}
	.men_left,.women_right{
		width:100%;
	}
	.form1{
		padding-top: 0;
	}
	.form1 img{
		max-width: 300px;
	}
	
}
@media screen and (min-width: 768px) and (max-width: 1023px){
	.animateright1.col-md-4 img,.animateleft1.col-md-4 img{
		    left: -90px !important;
	}
	.him.inactive,.her.inactive{
		width: 3% !important;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1200px){
	.animateright1.col-md-4 img,.animateleft1.col-md-4 img{
		    left: -45px !important;
	}
	.him.inactive,.her.inactive{
		width: 3% !important;
	}
	.men_left,.women_right{
		top:0%;
		padding-top: 10%;
	}
}
@media screen and (min-width: 1500px) and (max-width: 2100px){
	.animateleft3 img,.animateright3 img{
		left:-43%;
	}
	.animateleft2 img{
		right: -43%;
	}
	.animateright2 img{
		right: -40%;
	}
	.himmiddle.formimg{
		top:20%;
	}
	.women_right,.men_left{
		padding-top: 4%;
	}
	
	.col-md-4.animateleft1,.col-md-4.animateright1{
		padding-top: 0%;
	}
}

@media screen and (min-width: 2200px) {
	.animateleft3 img,.animateright3 img{
		left:-46%;
	}
	.animateleft2 img{
		right: -45%;
	}
	.animateright2 img{
		right: -43%;
	}
	.himmiddle.formimg{
		top:25%;
	}
	.women_right,.men_left{
		padding-top: 6%;
	}
	.animateleft1,.animateright1{
		padding-top: 25%;
	}
	.col-md-4.animateleft1,.col-md-4.animateright1{
		padding-top: 0%;
	}
}

@media screen and (max-width: 321px){
	p.dont-account-txt{
		color: #86754d;
		margin: 10px;
		font-size: 16px;
		line-height: 14px;
	}
}