<div class="container-fluid">

  <div class="row"><!---main row start-->
    <div class="col-md-6"><!---first half start-->
      <div class="row">
          <div class="col-md-12" style="background: #e2dcdc;padding-bottom: 20px;">
            <p style="padding: 10px 0 10px 15px;margin-bottom: 0;color: #1a1a1a;">MAGAZINE</p>
            <div class="col-md-6" style="padding-right: 0;">
              <img src="./assets/images/img5.jpg" width="100%" height="400px">
            </div>
            <div class="col-md-6" style="background: #fff;padding-bottom: 11px;">
              <div class="article1">
                <p class="article-subheading">ALL YOU<br>
                NEED TO KNOW<br>
                ABOUT THE</p>
                <H3 class="article-title" style="border-bottom: 1px solid #ccc;">LV x SUPREME COLLABORATION</H3>
                <p class="article-date">LIFESTYLE | JULY 17, 20003</p>
                <P><a class="btn btn_gray" href="article.html">CLICK TO READ</a><span style="float: right;"><img style="width:25px;margin-top: 8px;" src="./assets/images/bookmark.png"></span></P>
              </div>
            </div>
           </div>
      </div>
      <div class="row">
              <div class="col-md-12" style="background: #e2dcdc;padding-bottom: 20px;">
     <div class="col-md-6" style="padding-right:0;position: relative;">
              <img src="./assets/images/img3.jpg" width="100%" height="400px">
              <div class="article2">
              
                <p class="article-subheading"> THE FIRST <BR> LOUIS VUITTON <BR>SMART WATCH <BR> WATCH IS HERE</p>
                <p class="article-date">LIFESTYLE | JULY 17, 2003</p>
                <p style="margin-bottom: 0;"><a class="btn btn_gray" href="article.html">CLICK TO READ</a><span style="float: right;"><img style="width:25px;margin-top: 8px;" src="./assets/images/bookmark.png"></span></p>
             
              </div>
            </div>
            
          <div class="col-md-6" style="padding-right: 0;position: relative;">
           
              <img src="./assets/images/img13.jpg" width="100%" height="400px">
              <div class="article2" style="padding-top: 30PX;">
                <p class="article-subheading">DRAKE WROTE A <BR> SONG ABOUT <BR> LOUIS VUITTON</p>
                <p class="article-date">LIFESTYLE | JULY 17, 20003</p>
                <p style="margin-bottom: 0;"><a class="btn btn_gray" href="article.html">CLICK TO READ</a><span style="float: right;"><img style="width:25px;margin-top: 8px;" src="./assets/images/bookmark.png"></span></p>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
            <div class="col-md-12" style="background: #e2dcdc;padding-bottom: 20px;">
           
            <div class="col-md-6" style="padding-right: 0;">
              <img src="./assets/images/img4.jpg" width="100%"     height="400px">
            </div>
            <div class="col-md-6" style="background: #fff;padding-bottom: 11px;">
              <div class="article1" style="padding-top: 245px;">
                
                <H3 class="article-title">SUPREME IS<br> COLLABORATING <br>WITH LACOSTE</H3>
                <p class="article-date">LIFESTYLE | MAR 13, 2017</p>
                <P><a class="btn btn_gray" href="article2.html">CLICK TO READ</a><span style="float: right;"><img style="width:25px;margin-top: 8px;" src="./assets/images/bookmark.png"></span></P>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
             <div class="col-md-12" style="background: #e2dcdc;padding-bottom: 20px;">
              <div class="col-md-6" style="padding-right:0;position: relative;">
              <img src="./assets/images/img1.jpg" width="100%" height="400px">
              <div class="article2">
              
                <p class="article-subheading"> 15 DESIGNER<BR> BACKPACKS TO SHOP<BR>EVEN IF YOU'RE NOT<BR> GOING BACK TO SCHOOL</p>
                <p class="article-date">LIFESTYLE | JULY 27, 2017</p>
                <p style="margin-bottom: 0;"><a class="btn btn_gray" href="article2.html">CLICK TO READ</a><span style="float: right;"><img style="width:25px;margin-top: 8px;" src="./assets/images/bookmark.png"></span></p>
             
              </div>
            </div>
            
          <div class="col-md-6" style="padding-right: 0;position: relative;">
           
              <img src="./assets/images/img10.jpg" width="100%" height="400px">
              <div class="article2" style="padding-top: 30PX;">
                <p class="article-subheading">HOW LUXURY <BR> BRANDS CREATE A <BR> SENSE OF LIFESTYLE</p>
                <p class="article-date">LIFESTYLE | JULY 17, 20003</p>
                <p style="margin-bottom: 0;"><a class="btn btn_gray" href="article2.html">CLICK TO READ</a><span style="float: right;"><img style="width:25px;margin-top: 8px;" src="./assets/images/bookmark.png"></span></p>
              </div>
            </div>
        </div>
      </div>
    </div><!---first half end-->




    <div class="col-md-6" style="background: black;"><!--second half start-->
      <p style="padding: 10px 0 10px 15px;margin-bottom: 0;text-align: right;color: #fff">STORE</p>
      <div class="row">
        <div class="col-md-12">
        <div class="col-md-6">
          <div class="owl-carousel owl-theme" #owl>
                <div class="item owl_item"><img src="./assets/images/img-product-type1.jpg" alt="" class="slider_img"></div>
                <div class="item owl_item"><img src="./assets/images/img-related1.jpg" alt="" class="slider_img"></div>
                <div class="item owl_item active"><img src="./assets/images/img-product-type3.jpg" alt="" class="slider_img"></div>
                <!-- <div class="item owl_item"><img src="./assets/images/img4.jpg" alt="" class="slider_img"></div> -->
          </div>
                <img src="./assets/images/img-product-type1.jpg" alt="" class="thumbnail_img">
                <img src="./assets/images/img-related1.jpg" alt="" class="thumbnail_img">
                <img src="./assets/images/img-product-type3.jpg" alt="" class="thumbnail_img">    
        </div>
        <div class="col-md-6" style="color: #fff">
              <h4 class="product-title"><a href="product.html" class="product-title">LOUIS VUITTON<br>OVERALLS</a></h4>
              <p class="product-cat">LOUIS VUITTON x SUPREME</p>
              <p class="product-price">$899</p>
              <!-- <p style="margin-bottom: 2px;font-size: 13px;">SIZE</p>
              <p><span><a href="" class="btn btn_size">S</a></span><span><a href="" class="btn btn_size" style="    font-weight: bold;border: 1px solid #fff;">M</a></span><span><a href="" class="btn btn_size">L</a></span></p>

               <p style="margin-bottom: 2px;font-size: 13px;">COLOR</p>
              <p><span><a href="" class="btn btn_size" style="font-weight: bold;    padding: 16px 18px;;background: #7d7272;border: 1px solid #fff;"></a></span><span><a href="" class="btn btn_size" style="    font-weight: bold;    padding: 16px 18px;"></a></span><span><a href="" class="btn btn_size" style="    padding: 16px 18px;;background: #fff;"></a></span></p>

               <p style="margin-bottom: 2px;font-size: 13px;">QUANTITY</p>
               <p><input type="number" placeholder="1" style="background: #2d2b2b;width: 43%;"></p> -->
              <p style="margin-top: 10px;"><a href="" class="add_to_cart btn"><i class="fa fa-shopping-cart" aria-hidden="true" style="color:#fff;padding-right:10px;"></i>ADD TO CART</a><a href="" class="wishlist btn"><span style="color:#fff;padding-right:10px;">+</span>WISHLIST</a></p>
              <div class="panel-group" id="accordion"><!--Accordian start-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">PRODUCT DETAIL<i class="fa fa-caret-down" style="font-size:20px;float: right;"></i></a>
                      </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                  </div>
                  <!-- <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">SIZE GUIDE<i class="fa fa-caret-down" style="font-size:20px;float: right;"></i></a>
                      </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in">
                      <div class="panel-body">
                    
                        <p>The following size charts are taken from an average across popular brands, but we believe them to be a good representation of typical menswear sizes. </p>
                          <table style="width: 123px;" class="size_table">
                              <tbody>
                              <tr style="    border-bottom: 1px solid;">
                              <td style="width: 43px;">&nbsp;SIZE</td>
                              <td style="width: 64px;">&nbsp;INCHES</td>
                              <td style="width: 15px;">&nbsp;CENTIMETER</td>
                              </tr>
                              <tr>
                              <td style="width: 43px;">&nbsp;XS</td>
                              <td style="width: 64px;">&nbsp;34-36</td>
                              <td style="width: 15px;">&nbsp;86-91</td>
                              </tr>
                              <tr>
                              <td style="width: 43px;">&nbsp;S</td>
                              <td style="width: 64px;">&nbsp;36-38</td>
                              <td style="width: 15px;">&nbsp;91-96</td>
                              </tr>
                              <tr>
                              <td style="width: 43px;">&nbsp;M</td>
                              <td style="width: 64px;">&nbsp;38-40</td>
                              <td style="width: 15px;">&nbsp;96-101</td>
                              </tr>
                              <tr>
                              <td style="width: 43px;">&nbsp;L</td>
                              <td style="width: 64px;">&nbsp;40-42</td>
                              <td style="width: 15px;">&nbsp;101-106</td>
                              </tr>
                              <tr>
                              <td style="width: 43px;">&nbsp;XL</td>
                              <td style="width: 64px;">&nbsp;42-44</td>
                              <td style="width: 15px;">&nbsp;106-111</td>
                              </tr>
                              <tr>
                              <td style="width: 43px;">&nbsp;XXl</td>
                              <td style="width: 64px;">&nbsp;44-46</td>
                              <td style="width: 15px;">&nbsp;111-116</td>
                              </tr>
                              </tbody>
                              </table>
                        <p style="margin: 18px 0 0 0;">HOW TO MEASURE</p>
                        <p>To choose the correct size for you, measure your body as follows:</p>
                        <p style="margin: 8px 0 10px 0;">1. CHEST</p>
                        <p>Measure around the fullest part, place the tape close under the arms and make sure the tape is flat across the back</p>
                      </div>
                    </div>
                  </div> -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">DELIVERY & RETURNS<i class="fa fa-caret-down" style="font-size:20px;float: right;"></i></a>
                      </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                  </div>
              </div> <!--Accordian End-->
        </div>
       </div>
      </div>  <!--row end-->
      <!--  <div class="row">
          <div class="col-md-6">
         
                  
      
        </div>
       </div> -->
      <!-- <div class="row" style="padding-top: 30px;">
        <div class="col-md-12">
        <div class="col-md-6" style="color: #fff">
          

        </div>
        <div class="col-md-6">
            
        </div>
      </div>
      </div>
 -->
      <div class="row" style="margin-right:0 !important;"><!--RElated Product Start-->
            <div class="col-md-12" style="background:black;padding-bottom: 20px;border-top: 1px solid #fff;padding-top: 20px; margin: 15px;">
            <p style="padding: 10px 0 20px 15px;margin-bottom: 0;text-align:left;color: #fff">RELATED PRODUCT</p>
            <div class="col-md-6" style="padding-right:0;position: relative;">
              <img src="./assets/images/img-related1.jpg" width="100%" style="opacity: 0.4;">
              <div class="product1">
              
                <p class="product-title1">  LOUIS VUITTON x SUPREME</p>
                <p class="product-cat">Iphone FOLIO PHONE CASE</p>
                <p class="product-price">$ 1,000</p>
                <p style="margin-bottom: 0;"><a class="btn btn_gray" href="product_detail_1.html">QUICK VIEW</a><span style="float: right;margin-top: 8PX;"><i class="fa fa-shopping-cart" aria-hidden="true" style="color:#fff;padding-left:20px;"></i><span class="glyphicon glyphicon-heart-empty" style="padding-left: 10PX;"></span></span></p>
             
              </div>
            </div>
          <div class="col-md-6" style="padding-right: 0;position: relative;">
           
              <img src="./assets/images/img-related2.jpg" width="100%" style="opacity: 0.4;">
              <div class="product1">
              
                <p class="product-title1">LOUIS VUITTON x SUPREME</p>
                 <p class="product-cat"> Lous Vultton Luggage Tag</p>
                <p class="product-price">$ 1,000</p>
                <p style="margin-bottom: 0;"><a class="btn btn_gray" href="product.html">QUICK VIEW</a><span style="float: right;margin-top: 8PX;"><i class="fa fa-shopping-cart" aria-hidden="true" style="color:#fff;padding-left:20px;"></i><span class="glyphicon glyphicon-heart-empty" style="padding-left: 10PX;"></span></span></p>
             
              </div>
            </div>
            <div class="col-md-12" style="padding-right: 0; position: relative; width: 100%; padding-top: 15px;">
                <img src="./assets/images/img-related4.jpg" width="100%" style="opacity: 0.4;">
                <div class="product2">
                
                  <p class="product-title1">LOUIS VUITTON x SUPREME</p>
                   <p class="product-cat"> Lous Vultton Luggage Tag</p>
                  <p class="product-price">$ 1,800</p>
                  <p style="margin-bottom: 0;"><a class="btn btn_gray" href="product.html">QUICK VIEW</a><span style="float: right;margin-top: 8PX;"><i class="fa fa-shopping-cart" aria-hidden="true" style="color:#fff;padding-left:20px;"></i><span class="glyphicon glyphicon-heart-empty" style="padding-left: 10PX;"></span></span></p>
                
                </div>
            </div>
        </div>
      </div><!--related product end-->

    </div><!---second half end-->



  </div><!---main row end-->