  
<div class="container-fluid" style="background:#fff;">
 
  <div class="row">
      <div class="col-md-12 both-size">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-10">
                  <div class="section-bar">
                    <p class="my-account">MY ACCOUNT</p>
                    <h2 class="personal-info">RETURNS <br>EXCHANGES <br>& REFUNDS </h2>
                    <p class="p-description">TO SIMPLIFY THE PROCESS FOR YOU WE'VE CREATED A FORM (Right Hand Side), FOR YOUR RETURNS, EXCHANGES, AND REFUNDS. 
                    </p>
                    <p style="font-size: 11px; margin-bottom: 10px; color: #9a8c3d;">PLEASE READ THE BELOW RETURN POLICY BEFORE YOU SUBMIT THE FORM. AFTER YOU HAVE COMPLETED THE FORM WE WILL NOTIFY YOU BY EMAIL FOR FURTHER DIRECTIONS SINCE OUR PRODUCTS ARE SHIPPED FROM VARIOUS WAREHOUSES AND HENCE, INSTRUCTIONS FOR RETURNING THEM MAY VARY.</p>
                  </div>
                  <div class="middle-data">
                    <p style="color: black;font-weight: bold;font-size: 11px;">PLEASE NOTE THE BELOW IMPORTANT RETURN POLICIES:</p>
                    <p><span style="color: #9a8c3d; margin-left: -15px;">1. </span><span style="font-size: 10px; color: #000;">Returns, exchanges and refunds are only accepted if the customer acts within 7 days after the package has been delivered according to the carrier courier. As an example, if the package was received on the 20th , customers must fill in the below form and subsequently upload their proof of shipping waybill by 27th in order to get a full refund.</span></p>
                    <p><span style="color: #9a8c3d; margin-left: -18px;">2. </span><span style="font-size: 10px; color: #000;">Expedited shipping costs are nonrefundable.</span></p>
                  </div>
                  <div class="end-data">
                    <p style="color: black;font-weight: bold;font-size: 11px;">RETURNED ITEMS MUST COMPLY WITH OUR RETURNS POLICY:</p>
                    <p><span style="color: #9a8c3d; margin-left: -20px;">3. </span><span style="font-size: 10px; color: #000;">Items must be returned unworn, undamaged and unused, with all tags attached and the original packaging included branded boxes and dust bags, where provided, and placed inside a protective outer box for shipping.</span></p>
                    <p><span style="color: #9a8c3d; margin-left: -20px;">4. </span><span style="font-size: 10px; color: #000;">Intimates and swimwear may not be returned.</span></p>
                     <p><span style="color: #9a8c3d; margin-left: -20px;">5. </span><span style="font-size: 10px; color: #000;">Sale or Bargain Items cannot be returned for refund. You may return for store credit or exchange.</span></p>
                     <p style="color: black;font-weight: bold;font-size: 11px;">PLEASE TAKE CARE WHEN TRYING ON YOUR PURCHASES AND RETURN THEM IN THE SAME CONDITION YOU RECEIVED THEM. ANY RETURNS THAT DO NOT MEET OUR POLICY WILL NOT BE ACCEPTED. WE WILL REFUND YOU THE FULL PRICE FOR ANY RETURNED ITEM THAT MEETS OUR RETURNS POLICY.</p>
                      <p style="font-size: 11px; margin-bottom: 0px;">FOR MORE INFORMATION ON RETURNS, PLEASE READ OUR</p>
                      <a href="#" style="color: #9a8c3d; border-bottom: 1px solid #9a8c3d; font-size: 11px;"> RETURNS, EXCHANGES, REFUND, & CANCELLATION POLICY</a>
                  </div>
                </div>  
              </div>
            </div>
            <div class="col-md-6" style="background: rgba(0,0,0,.9);"> 
              <div class="row">
                <div class="col-md-10">
                  <div class="main-section">
                    <h2 style="border-bottom: 1px solid grey;"><span style="color: #9a8c3d;font-weight: 100;">MY</span> <br> <span class="form-info" style="font-weight: bolder;color: #9a8c3d;">RETUNS</span></h2>
                    <p style="color: #9a8c3d; margin-bottom: 0px;">HI,<b>SAMANTHA</b></p>
                    <p style="color: grey;margin-top: 0px; font-size: 9px;">All your Return Requests are as follows. Please wait till we review your Return Request to Authorize it. Once approved we will provide a RMA #.</p>
                     <p style="color: #9a8c3d;">6 item(s)</p>
                      <table class="table table-bordered" style="width: 100%;color: white;    font-size: 10px;">
                            <thead>
                              <tr style="width: 100%; background-color: #9a8c3d;">
                                <th class="table-head" style="width: 15%;">ID #</th>
                                <th class="table-head" style="width: 15%;">DATE</th>
                                <th class="table-head" style="width: 18%;">ORDER #</th>
                                <th class="table-head" style="width: 22%;">STATUS</th>
                                <th class="table-head" style="width: 30%;">ACTION</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr style="color: #9a8c3d;">
                                <td>11</td>
                                <td>18.9.18</td>
                                <td>111087</td>
                                <td>NEW</td>
                                <td><a href="#" style="color: white;border-bottom: 1px solid #fff;">View</a> | <a href="#" style="border-bottom: 1px solid #e4400d; color: #e4400d;">Return</a></td>
                              </tr>
                            </tbody>
                          </table>
                  </div>
                </div>  
              </div>
            </div>
          </div>
      </div>  
  </div>   
</div>