<div class="container-fluid">
 
  <div class="row">
      <div class="col-md-12 both-size">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-10">
                  <div class="section-bar">
                    <p class="my-account">MY ACCOUNT</p>
                    <h2 class="personal-info">MY ORDERS</h2>
                    <p class="p-description"> FROM HERE, YOU CAN VIEW ALL YOUR PAST ORDERS AND
                        THEIR STATUS. YOU CAN REQUEST A REORDER OR REQUEST
                        A RETURN FOR A SPECIFIC ORDER MADE IN THE
                        PAST.
                    </p>
                    <p style="font-size: 12px; margin-bottom: 0px;">FOR MORE INFORMATION ON RETURNS, PLEASE READ OUR</p>
                    <a href="#" style="color: #9a8c3d; border-bottom: 1px solid #9a8c3d; font-size: 12px;"> RETURNS, EXCHANGES, REFUND, & CANCELLATION POLICY</a>
                  </div>
                </div>  
              </div>
            </div>
            <div class="col-md-6" style="background: rgba(0,0,0,.9);"> 
              <div class="row">
                <div class="col-md-12">
                  <div class="main-section">
                    <h2 style="color: #9a8c3d; border-bottom: 1px solid grey;">MY <br><span class="form-info" style="font-weight: bolder;">ORDERS</span></h2>
                    <p style="color: #9a8c3d; margin-bottom: 0px;">HI,<b>SAMANTHA</b></p>
                    <p style="color: grey;margin-top: 0px; font-size: 12px;">These are all your past orders made from OFPOISON.</p>
                    <p style="color: #9a8c3d;">6 item(s)</p>          
                         <table class="table table-bordered" style="width: 100%;color: white;    font-size: 10px;">
                            <thead>
                              <tr style="width: 100%; background-color: #9a8c3d;">
                                <th class="table-head" style="width: 12%;">ORDER #</th>
                                <th class="table-head" style="width: 11%;">DATE</th>
                                <th class="table-head" style="width: 13%;">SHIP TO</th>
                                <th class="table-head" style="width: 17%;">ORDER TOTAL</th>
                                <th class="table-head" style="width: 17%;">ORDER STATUS</th>
                                <th class="table-head" style="width: 31%;">ACTION</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr style="color: #9a8c3d;">
                                <td>111087</td>
                                <td>18.9.18</td>
                                <td>HEBA D</td>
                                <td>$450.00</td>
                                <td>COMPLETED</td>
                                <td><a href="#" style="color: white;border-bottom: 1px solid #fff;">View Order</a> | <a href="#" style="border-bottom: 1px solid #9a8c3d;color: #9a8c3d;">Reorder</a> | <a href="#" style="border-bottom: 1px solid #e4400d; color: #e4400d;">Return</a></td>
                              </tr>
                              <tr style="color: #9a8c3d;">
                                <td>111087</td>
                                <td>18.9.18</td>
                                <td>HEBA D</td>
                                <td>$450.00</td>
                                <td>COMPLETED</td>
                               <td><a href="#" style="color: white;border-bottom: 1px solid #fff;">View Order</a> | <a href="#" style="border-bottom: 1px solid #9a8c3d;color: #9a8c3d;">Reorder</a></td>
                              </tr>
                              <tr style="color: #9a8c3d;">
                                <td>111087</td>
                                <td>18.9.18</td>
                                <td>HEBA D</td>
                                <td>$450.00</td>
                                <td>COMPLETED</td>
                                <td><a href="#" style="color: white;border-bottom: 1px solid #fff;">View Order</a> | <a href="#" style="border-bottom: 1px solid #9a8c3d;color: #9a8c3d;">Reorder</a></td>
                              </tr>
                              <tr style="color: #9a8c3d;">
                                <td>111087</td>
                                <td>18.9.18</td>
                                <td>HEBA D</td>
                                <td>$450.00</td>
                                <td>COMPLETED</td>
                                <td><a href="#" style="color: white;border-bottom: 1px solid #fff;">View Order</a> | <a href="#" style="border-bottom: 1px solid #9a8c3d;color: #9a8c3d;">Reorder</a></td>
                              </tr>
                              <tr style="color: #9a8c3d;">
                                <td>111087</td>
                                <td>18.9.18</td>
                                <td>HEBA D</td>
                                <td>$450.00</td>
                                <td>COMPLETED</td>
                                <td><a href="#" style="color: white;border-bottom: 1px solid #fff;">View Order</a> | <a href="#" style="border-bottom: 1px solid #9a8c3d;color: #9a8c3d;">Reorder</a></td>
                              </tr>
                              <tr style="color: #9a8c3d;">
                                <td>111087</td>
                                <td>18.9.18</td>
                                <td>HEBA D</td>
                                <td>$450.00</td>
                                <td>COMPLETED</td>
                                <td><a href="#" style="color: white;border-bottom: 1px solid #fff;">View Order</a> | <a href="#" style="border-bottom: 1px solid #9a8c3d;color: #9a8c3d;">Reorder</a></td>
                              </tr>
                            </tbody>
                          </table>
                  </div>
                </div>  
              </div>
            </div>
          </div>
      </div>  
  </div>   
</div>