<div class="container-fluid">

  <div class="row">
      <div class="col-md-12 both-size">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-10">
                  <div class="section-bar">
                    <p class="my-account">MY ACCOUNT</p>
                    <h2 class="personal-info">SAVED <br>ARTICALS </h2>
                    <p class="p-description"> FROM HERE, YOU CAN VIEW ALL YOUR PAST ORDERS AND
                        THEIR STATUS. YOU CAN REQUEST A REORDER OR REQUEST
                        A RETURN FOR A SPECIFIC ORDER MADE IN THE
                        PAST.
                    </p>
                   <P class="p-description">NOTE: OUT OF STOCK ITEMS WILL BE NOTIFIED TO YOU ON
                      THE WISHLIST PAGE AGAINST EACH ITEM.</P>
                  </div>
                </div>  
              </div>
            </div>
            <div class="col-md-6" style="background: rgba(0,0,0,.9);"> 
              <div class="row">
                <div class="col-md-12">
                  <div class="main-section">
                    <h2 style="color: #9a8c3d; border-bottom: 1px solid grey;">SAVED <br><span class="form-info" style="font-weight: bolder;">ARTICALS</span></h2>
                    <p style="color: #9a8c3d; margin-bottom: 0px;">HI,<b>SAMANTHA</b></p>
                    <p style="color: grey;margin-top: 0px; font-size: 12px;">Here is your wishlist</p>        
                     <table style="width: 100%;" CELLSPACING="10" cellpadding="10">
                      <thead style="width: 100%;">
                        <tr style="background: #1d1919;">
                          <th style="width: 2%;"></th>
                          <th style="width: 49%; color: #fff;">ARTICAL</th>
                          <th style="width: 49%;color: #fff; text-align: right;">DATE</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr style="border-bottom: 1px dotted grey;">
                          <td style="vertical-align: top;"><span style="color: #9a8c3d;">1.</span></td>
                          <td>
                            <span style="color: #fff; font-size: 12px;">15 DESIGNER BACKPACKS TO SHOP EVEN IF YOU'RE NOT GOING BACK TO SCHOOL</span>
                          </td>
                          <td style="text-align: right;color: grey;">21.10.2018 3:15 PM</td>
                        </tr>
                        <tr style="border-bottom: 1px dotted grey;">
                          <td style="vertical-align: top;"><span style="color: #9a8c3d;">2.</span></td>
                          <td>
                            <span style="color: #fff; font-size: 12px;">CELEBS WHO LOVE SUPREME</span>
                          </td>
                          <td style="text-align: right;color: grey;">21.10.2018 3:15 PM</td>
                        </tr>
                        <tr style="border-bottom: 1px dotted grey;">
                          <td style="vertical-align: top;"><span style="color: #9a8c3d;">3.</span></td>
                          <td>
                            <span style="color: #fff; font-size: 12px;">CHARTING THE RISE OF SUPREME</span>
                          </td>
                          <td style="text-align: right;color: grey;">21.10.2018 3:15 PM</td>
                        </tr>
                        <tr style="border-bottom: 1px dotted grey;">
                          <td style="vertical-align: top;"><span style="color: #9a8c3d;">4.</span></td>
                          <td>
                            <span style="color: #fff; font-size: 12px;">DRAKE WROTE A SONG ABOUT LOUIS VUITTON.</span>
                          </td>
                          <td style="text-align: right;color: grey;">21.10.2018 3:15 PM</td>
                        </tr>
                         <tr style="border-bottom: 1px dotted grey;">
                          <td style="vertical-align: top;"><span style="color: #9a8c3d;">5.</span></td>
                          <td>
                            <span style="color: #fff; font-size: 12px;">KIM JONES IS MOVING ON</span>
                          </td>
                          <td style="text-align: right;color: grey;">21.10.2018 3:15 PM</td>
                        </tr>
                      </tbody>
                     </table>   
                  </div>
                </div>  
              </div>
            </div>
          </div>
      </div>  
  </div>   
</div>
  