<div class="container-fluid">
 
  <div class="row">
      <div class="col-md-12 both-size">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-10">
                  <div class="section-bar">
                    <p class="my-account">MY ACCOUNT</p>
                    <h2 class="personal-info">TRACK <br> ORDER </h2>
                    <p class="p-description">FROM HERE, YOU CAN VIEW ALL YOUR ITEMS IN YOUR WISHLIST. SAVED ITEMS WILL NOT BE REMOVED AND CAN BE ADDED TO CART DIRECTLY FROM HERE.
                    </p>
                    <p class="p-description">NOTE: OUT OF STOCK ITEMS WILL BE NOTIFIED TO YOU ON THE WISHLIST PAGE AGAINST EACH ITEM.</p>
                  </div>
                </div>  
              </div>
            </div>
            <div class="col-md-6" style="background: rgba(0,0,0,.9);"> 
              <div class="row">
                <div class="col-md-10">
                  <div class="section-bar">
                    <h2 style="border-bottom: 1px solid grey;"><span style="color: #9a8c3d;font-weight: 100;">TRACK</span> <br> <span class="form-info" style="font-weight: bolder;color: #9a8c3d;">ORDER</span></h2>
                    <div class="input-group cart_wrapper">
                      <input type="text" class="form-control btn_search_text" placeholder="ENTER YOUR ORDER NUMBER" style="height: 36px; border-right: none; font-size: 13px;">
                      <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn_search" style="background-color: #9a8c3d;margin: -1px;padding: 9px 13px; border-radius: 0px;">TRACK</button>
                      </span>
                    </div>
                    <p style="color: grey;font-size: 12px; margin-top: 10px;">Please check your order email to look for the tracking number.</p>
                  </div>
                </div>  
              </div>
            </div>
          </div>
      </div>  
  </div>   
</div>
  