<div class="container-fluid">

  <div class="row">
      <div class="col-md-12 both-size">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-10">
                  <div class="section-bar">
                    <p class="my-account">MY ACCOUNT</p>
                    <h2 class="personal-info">WISHLIST</h2>
                    <p class="p-description"> FROM HERE, YOU CAN VIEW ALL YOUR PAST ORDERS AND
                        THEIR STATUS. YOU CAN REQUEST A REORDER OR REQUEST
                        A RETURN FOR A SPECIFIC ORDER MADE IN THE
                        PAST.
                    </p>
                   <P class="p-description">NOTE: OUT OF STOCK ITEMS WILL BE NOTIFIED TO YOU ON
                      THE WISHLIST PAGE AGAINST EACH ITEM.</P>
                  </div>
                </div>  
              </div>
            </div>
            <div class="col-md-6" style="background: rgba(0,0,0,.9);"> 
              <div class="row">
                <div class="col-md-12">
                  <div class="main-section">
                    <h2 style="color: #9a8c3d; border-bottom: 1px solid grey;">WISHLIST</span></h2>
                    <p style="color: #9a8c3d; margin-bottom: 0px;">HI,<b>SAMANTHA</b></p>
                    <p style="color: grey;margin-top: 0px; font-size: 12px;">Here is your wishlist</p>        
                      <div class="table-responsive">    
                        <table style="width: 100%;">
                          <thead style="width: 100%;">
                           <tr style="background: #1d1919;" class="table-rw">
                           <th class="table-head" style="width: 3%;"></th>
                           <th class="" style="width: 37%;color: #9a8c3d;">ITEM</th>
                           <th class="table-head" style="width: 23%;color: #9a8c3d;">DATE</th>
                           <th class="table-head" style="width: 15%;color: #9a8c3d;">STATUS</th>
                           <th class="table-head" style="width: 11%;color: #9a8c3d;">PRICE</th>
                           </tr>
                          </thead>
                          <tbody>
                          <tr class="table-back">
                            <td class="sr_no" style="vertical-align: top;padding: 5px;color: grey;">1.</td>
                            <td>
                              <div class="image_left" style="float: left;">
                              <img src="images/img1.jpg" style="width: 81px;height: 120px;margin: 5px 5px 5px 0px;border: 1px solid;padding: 3px;" alt="abc" /></div>
                              <div class="info_right" style="">
                             <h4 style="margin-bottom: 0px;margin-top: 5px; font-weight: 800;color: #9a8c3d;font-size: 12PX;" class="header-cont">LOUIS VUITTON X SUPREME</h4>
                            <p style="color: grey;font-size: 10px;">Phone FOLIO PHONE CASE</p>
                            <table class="details">
                                <tr>
                                  <td>
                                    <p style="border-bottom: 1px solid; margin: 0; font-size: 10PX;color: grey;"><span>DETAILS</span></p>

                                    <p style="margin: 0;font-size: 10PX;color: grey;"><span>COLOR: GOLD-NAVY</span></p> 
                                    <p style="font-size: 10px; color: grey;"><span>Size:</span></p>
                                 </td>
                                </tr>
                            </table>  
                              </div>
                            </td>
                            <td class="table-quantity" style="vertical-align: top;text-align: center;">
                              <P style="color: grey;">21.10.2018 3:15 PM</P>    
                            </td>

                            <td style="color: grey;font-size: 12px; vertical-align: top;text-align: center;">INSTOCK</td>
                            <td style="color: #fff;font-weight: bold; vertical-align: top;text-align: center;position: relative;">$1,000<div style="position: absolute;bottom: 10px;right: 5px;">
                               <button type="button" class="btn" style="border: 1px solid #9a8c3d; padding: 2px 2px;border-radius: 0px; font-size: 12px; background:none;color: grey;"><i class="fa fa-times" aria-hidden="true" style="color: #9a8c3d; margin-right: 3px;"></i>REMOVE</button><button type="button" class="btn" style="border: 1px solid #9a8c3d; padding: 2px 2px;border-radius: 0px; font-size: 12px; background:none;color: grey;"><i class="fa fa-shopping-cart" aria-hidden="true" style="color: #9a8c3d; margin-right: 3px;"></i>ADD TO CART</button></div>
                            </td>
                          </tr>
                          <tr class="table-back">
                            <td class="sr_no" style="vertical-align: top;padding: 5px;color: grey;">2.</td>
                            <td>
                              <div class="image_left" style="float: left;">
                              <img src="images/img1.jpg" style="width: 81px;height: 120px;margin: 5px 5px 5px 0px;border: 1px solid;padding: 3px;" alt="abc" /></div>
                              <div class="info_right" style="">
                             <h4 style="margin-bottom: 0px;margin-top: 5px; font-weight: 800;color: #9a8c3d;font-size: 12PX;" class="header-cont">LOUIS VUITTON X SUPREME</h4>
                            <p style="color: grey;font-size: 10px;">Phone FOLIO PHONE CASE</p>
                            <table class="details">
                                <tr>
                                  <td>
                                    <p style="border-bottom: 1px solid; margin: 0; font-size: 10PX;color: grey;"><span>DETAILS</span></p>

                                    <p style="margin: 0;font-size: 10PX;color: grey;"><span>COLOR: RED</span></p> 
                                    <p style="font-size: 10px; color: grey;"><span>Size:</span></p>
                                 </td>
                                </tr>
                            </table>  
                              </div>
                            </td>
                            <td class="table-quantity" style="vertical-align: top;text-align: center;">
                              <P style="color: grey;">21.10.2018 3:15 PM</P>    
                            </td>

                            <td style="color: grey;font-size: 12px; vertical-align: top;text-align: center;">INSTOCK</td>
                            <td style="color: #fff;font-weight: bold; vertical-align: top;text-align: center;position: relative;">$ 105.00<div style="position: absolute;bottom: 10px;right: 5px;">
                               <button type="button" class="btn" style="border: 1px solid #9a8c3d; padding: 2px 2px;border-radius: 0px; font-size: 12px; background:none;color: grey;"><i class="fa fa-times" aria-hidden="true" style="color: #9a8c3d; margin-right: 3px;"></i>REMOVE</button><button type="button" class="btn" style="border: 1px solid #9a8c3d; padding: 2px 2px;border-radius: 0px; font-size: 12px; background:none;color: grey;"><i class="fa fa-shopping-cart" aria-hidden="true" style="color: #9a8c3d; margin-right: 3px;"></i>ADD TO CART</button></div>
                            </td>
                          </tr>
                          <tr class="table-back">
                            <td class="sr_no" style="vertical-align: top;padding: 5px;color: grey;">3.</td>
                            <td>
                              <div class="image_left" style="float: left;">
                              <img src="images/img1.jpg" style="width: 81px;height: 120px;margin: 5px 5px 5px 0px;border: 1px solid;padding: 3px;" alt="abc" /></div>
                              <div class="info_right" style="">
                             <h4 style="margin-bottom: 0px;margin-top: 5px; font-weight: 800;color: #9a8c3d;font-size: 12PX;" class="header-cont">LOUIS VUITTON X SUPREME</h4>
                            <p style="color: grey;font-size: 10px;">Phone FOLIO PHONE CASE</p>
                            <table class="details">
                                <tr>
                                  <td>
                                    <p style="border-bottom: 1px solid; margin: 0; font-size: 10PX;color: grey;"><span>DETAILS</span></p>

                                    <p style="margin: 0;font-size: 10PX;color: grey;"><span>COLOR: RED</span></p> 
                                    <p style="font-size: 10px; color: grey;"><span>Size:</span></p>
                                 </td>
                                </tr>
                            </table>  
                              </div>
                            </td>
                            <td class="table-quantity" style="vertical-align: top;text-align: center;">
                              <P style="color: grey;">21.10.2018 3:15 PM</P>    
                            </td>

                            <td style="color: red;font-size: 12px; vertical-align: top;text-align: center;">OUT OF STOCK</td>
                            <td style="color: #fff;font-weight: bold; vertical-align: top;text-align: center;position: relative;">$ 3,500<div style="position: absolute;bottom: 10px;right: 5px;">
                               <button type="button" class="btn" style="border: 1px solid #9a8c3d; padding: 2px 2px;border-radius: 0px; font-size: 12px; background:none;color: grey;"><i class="fa fa-times" aria-hidden="true" style="color: #9a8c3d; margin-right: 3px;"></i>REMOVE</button> <button type="button" class="btn" style="border: 1px solid #9a8c3d; padding: 2px 2px;border-radius: 0px; font-size: 12px; background:none;color: grey;"><i class="fa fa-shopping-cart" aria-hidden="true" style="color: #9a8c3d; margin-right: 3px;"></i>ADD TO CART</button></div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                     </div>    
                  </div>
                </div>  
              </div>
            </div>
          </div>
      </div>  
  </div>   
</div>
  