<div class="col-md-12 text-center" style="padding-top: 80px;">
		<div class="row" style="display: inline-block;">
			<h2 class="main-title">CONGRATULATIONS!</h2>
			<p class="sub-title">YOUR PAYMENT HAS BEEN SUCCESSFULL!</p>
			<p class="sub-title">YOUR ORDER NUMBER IS : {{orderId}}</p>
		</div>
		<img src="./assets/images/circle.png" class="image-check">
	</div>
	<div class="col-md-12 text-center" style="padding-top: 40px;">
		<h4 class="sub-menu">THANK YOU FOR SHOPPING WITH US.</h4>
		<p style="margin-bottom: 0; color: #c1bdbd;">Please check your Email inbox for the confirmation email from OFPOISON.</p>
		<p style="margin-bottom: 0; color: #c1bdbd;">You will recieve induvidual emails from the brands you have bought as soon as your order ships.</p>
		<p style="margin-bottom: 0; color: #c1bdbd;">To track you order please input your tracking number provided in our TRACK YOUR ORDER section</p>
		<p style="margin-bottom: 0; color: #c1bdbd;">to see the status of your order!</p>
	</div>
	<div class="col-md-12 text-center" style="padding-top: 20px;">
		<p style="color: #c1bdbd;">Please <strong><u>Register</u></strong> with us to checkout faster and recieve ------ from us other other exciting deals.</p>
	</div>
	<div class="col-md-12 text-center">
		<p style="color: #c1bdbd;">Once again, Thank you - TEAM OFPOISON.</p>
	</div>	