<div class="container-fluid">	
	<div class="row row-abc" style="background-color: grey;">
	    <div class="col-md-12" style="padding:0 45px;">
	      <h2 class="text-center page_title">BRANDS</h2>
	    </div>
	    <div class="col-md-12" style="padding:0 45px;">
	      <div class="text-center">
	        <span class="brand_category"><a href="" class="active">ALL</a></span>
	        <span class="brand_category"><a href="">MEN</a></span>
	        <span class="brand_category"><a href="">WOMEN</a></span>
	        <span class="brand_category"><a href="">SHOES</a></span>
	      </div>
	      <div class="text-center brand_serach_alpha">
	        <span class="brand_category_letter"><a href="">A</a></span>
	        <span class="brand_category_letter"><a href="">B</a></span>
	        <span class="brand_category_letter"><a href="">C</a></span>
	        <span class="brand_category_letter"><a href="">D</a></span>
	        <span class="brand_category_letter"><a href="">E</a></span>
	        <span class="brand_category_letter"><a href="">F</a></span>
	        <span class="brand_category_letter"><a href="">G</a></span>
	        <span class="brand_category_letter"><a href="">H</a></span>
	        <span class="brand_category_letter"><a href="">I</a></span>
	        <span class="brand_category_letter"><a href="">J</a></span>
	        <span class="brand_category_letter"><a href="">K</a></span>
	        <span class="brand_category_letter"><a href="">L</a></span>
	        <span class="brand_category_letter"><a href="">M</a></span>
	        <span class="brand_category_letter"><a href="">N</a></span>
	        <span class="brand_category_letter"><a href="">O</a></span>
	        <span class="brand_category_letter"><a href="">P</a></span>
	        <span class="brand_category_letter"><a href="">Q</a></span>
	        <span class="brand_category_letter"><a href="">R</a></span>
	        <span class="brand_category_letter"><a href="">S</a></span>
	        <span class="brand_category_letter"><a href="">T</a></span>
	        <span class="brand_category_letter"><a href="">U</a></span>
	        <span class="brand_category_letter"><a href="">V</a></span>
	        <span class="brand_category_letter"><a href="">W</a></span>
	        <span class="brand_category_letter"><a href="">X</a></span>
	        <span class="brand_category_letter"><a href="">Y</a></span>
	        <span class="brand_category_letter"><a href="">Z</a></span>
	      </div>
	      <div class="text-center brand_view_type_wrapper">
	        <span class="brand_view_type"><a href="" >FULL VIEW</a></span>
	        <span class="brand_view_type">|</span>
	        <span class="brand_view_type"><a href="" class="active">LIST VIEW</a></span>
	      </div>
	    </div>
	  </div>
		<div class="container-fluid" style="background: grey;">
			<div class="row">
				<div class="col-md-12">
					<div class="row" style="padding:0 15px;width: 100%;">
						<div class="size20percent">
							<div class="inner">
								<div class="has-border">A</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
									<li>THE ORDER NINETEEN</li>
									<li>LOUIS VUITTON * SUPREME</li>
									<li>M BY MISSONI</li>
									<li>OBEY</li>
									<li>RADII</li>
									<li>NALHO</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">B</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
									<li>THE ORDER NINETEEN</li>
									<li>LOUIS VUITTON * SUPREME</li>
									<li>M BY MISSONI</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">C</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">D</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">E</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
								</ul>	
							</div>
						</div>
							
					</div>
					<div class="row" style="padding:0 15px;width: 100%;">
						<div class="size20percent">
							<div class="inner">
								<div class="has-border">F</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
									<li>THE ORDER NINETEEN</li>
									<li>LOUIS VUITTON * SUPREME</li>
									<li>M BY MISSONI</li>
									<li>OBEY</li>
									<li>RADII</li>
									<li>NALHO</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">G</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
									<li>THE ORDER NINETEEN</li>
									<li>LOUIS VUITTON * SUPREME</li>
									<li>M BY MISSONI</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">H</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
									<li>THE ORDER NINETEEN</li>
									<li>LOUIS VUITTON * SUPREME</li>
									<li>M BY MISSONI</li>
									<li>OBEY</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">I</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">J</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
									<li>THE ORDER NINETEEN</li>
								</ul>	
							</div>
						</div>
							
					</div>
					<div class="row" style="padding:0 15px;width: 100%;">
						<div class="size20percent">
							<div class="inner">
								<div class="has-border">K</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
									<li>THE ORDER NINETEEN</li>
									<li>LOUIS VUITTON * SUPREME</li>
									<li>M BY MISSONI</li>
									<li>OBEY</li>
									<li>RADII</li>
									<li>NALHO</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">L</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
									<li>THE ORDER NINETEEN</li>
									<li>LOUIS VUITTON * SUPREME</li>
									<li>M BY MISSONI</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">M</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">N</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">O</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
								</ul>	
							</div>
						</div>
							
					</div>
					<div class="row" style="padding:0 15px;width: 100%;">
						<div class="size20percent">
							<div class="inner">
								<div class="has-border">P</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
									<li>THE ORDER NINETEEN</li>
									<li>LOUIS VUITTON * SUPREME</li>
									<li>M BY MISSONI</li>
									<li>OBEY</li>
									<li>RADII</li>
									<li>NALHO</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">Q</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
									<li>THE ORDER NINETEEN</li>
									<li>LOUIS VUITTON * SUPREME</li>
									<li>M BY MISSONI</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">R</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
									<li>THE ORDER NINETEEN</li>
									<li>LOUIS VUITTON * SUPREME</li>
									<li>M BY MISSONI</li>
									<li>OBEY</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">S</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">T</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
									<li>THE ORDER NINETEEN</li>
								</ul>	
							</div>
						</div>
							
					</div>
					<div class="row" style="padding:0 15px;width: 100%;">
						<div class="size20percent">
							<div class="inner">
								<div class="has-border">U</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
									<li>THE ORDER NINETEEN</li>
									<li>LOUIS VUITTON * SUPREME</li>
									<li>M BY MISSONI</li>
									<li>OBEY</li>
									<li>RADII</li>
									<li>NALHO</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">V</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
									<li>THE ORDER NINETEEN</li>
									<li>LOUIS VUITTON * SUPREME</li>
									<li>M BY MISSONI</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">W</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">U</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">W</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
								</ul>	
							</div>
						</div>
							
					</div>
					<div class="row" style="padding:0 15px;width: 100%;">
						<div class="size20percent">
							<div class="inner">
								<div class="has-border">X</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
									<li>THE ORDER NINETEEN</li>
									<li>LOUIS VUITTON * SUPREME</li>
									<li>M BY MISSONI</li>
									<li>OBEY</li>
									<li>RADII</li>
									<li>NALHO</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">Y</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
									<li>MOSAIC BT ALI</li>
									<li>THE ORDER NINETEEN</li>
									<li>LOUIS VUITTON * SUPREME</li>
									<li>M BY MISSONI</li>
								</ul>	
							</div>
						</div><div class="size20percent">
							<div class="inner">
								<div class="has-border">Z</div>
								<ul class="fsize">
									<li>SYMPATHY BY SW</li>
									<li>DAN CASSAB</li>
								</ul>	
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>