<div class="row">
      <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-10">
                  <div class="section-bar">
                    <p class="my-account">MY ACCOUNT</p>
                    <h2 class="personal-info">SHIPPING <br>INFORMATION </h2>
                    <p class="p-description"> FROM HERE, YOU CAN VIEW ALL YOUR PAST ORDERS AND
                        THEIR STATUS. YOU CAN REQUEST A REORDER OR REQUEST
                        A RETURN FOR A SPECIFIC ORDER MADE IN THE
                        PAST.
                    </p>
                    <p style="font-size: 12px; margin-bottom: 0px;">FOR MORE INFORMATION ON RETURNS, PLEASE READ OUR</p>
                    <a href="#" style="color: #9a8c3d; border-bottom: 1px solid #9a8c3d; font-size: 12px;"> RETURNS, EXCHANGES, REFUND, & CANCELLATION POLICY</a>
                  </div>
                </div>  
              </div>
            </div>
            <div class="col-md-6" style="background: rgba(0,0,0,.9);"> 
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-6">
                    <h2 style="color: #9a8c3d; border-bottom: 1px solid grey;">SHIPPING <br><span class="form-info" style="font-weight: bolder;">INFORMATION</span></h2>
                    <p style="color: #9a8c3d; margin-bottom: 0px;">HI,<b>SAMANTHA</b></p>
                    <p style="color: grey;margin-top: 0px;">No shipping information has been entered yet. Please create a new shipping address below</p>
                    <h4 style="font-weight: bolder; color: grey;font-size: 15px; border-bottom: 1px solid grey;">ACCOUNT INFORMATION</h4>
                    <form action="" method="">
                      <div class="form-group">
                        <label for="fname" style="color: grey;">First Name*</label>
                        <input style="border: 1px solid #9a8c3d;" type="text" class="form-control" id="fname" placeholder="Enter name" name="fname">
                      </div>
                      <div class="form-group">
                        <label for="lname" style="color: grey;">Last Name*</label>
                        <input style="border: 1px solid #9a8c3d;" type="text" class="form-control" id="lname" placeholder="Enter last name" name="lname">
                      </div>
                      

                      <div class="inline-btn" style="margin-bottom: 20px; border-top: 1px solid #fff;">
                        <div class="form-group">
                          <label><p style="margin-bottom: 0px;margin-top: 10px; color: grey; font-weight: 700;">Country*</p></label>
                          <select name="Country" style="padding: 3px; width: 100%;box-shadow: inset 0 1px 1px rgba(0,0,0,.075); padding: 6px 12px; font-size: 12px;background-color: #504d4d;color: #9a8c3d;"> 
                            <option>USA</option>
                            <option>UK</option>
                            <option>UAE</option>
                            <option>INDIA</option>
                          </select>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                          <label for="fname" style="color: grey; width: 100%;">House no and Street*<span style="float: right;color: #fff; font-size: 10px;">Street Address, P.O.. Box</span></label>
                          <input style="border: 1px solid #9a8c3d;" type="text" class="form-control" id="fname" name="fname">
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                          <label for="fname" style="color: grey; width: 100%;">Address line2(optional)<span style="float: right;color: #fff; font-size: 10px;">Apartment,Suite,Unit,Floor</span></label>
                          <input style="border: 1px solid #9a8c3d;" type="text" class="form-control" id="fname" name="fname">
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                          <label for="fname" style="color: grey; width: 100%;">House no and Street* <span style="float: right;color: #fff; font-size: 10px;">Street Address, P.O.. Box</span></label>
                          <input style="border: 1px solid #9a8c3d;" type="text" class="form-control" id="fname" name="fname">
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                          <label for="fname" style="color: grey; width: 100%;">City*<span style="float: right;color: #fff; font-size: 10px;">Apartment,Suite,Unit,Floor</span></label>
                          <input style="border: 1px solid #9a8c3d;" type="text" class="form-control" id="fname" name="fname">
                        </div>
                        <div class="form-group">
                         <label><p style="margin-bottom: 0px;margin-top: 10px; color: grey; font-weight: 700;">State*</p></label> 
                          <select name="state" style="padding: 3px; width: 100%;box-shadow: inset 0 1px 1px rgba(0,0,0,.075); padding: 6px 12px; font-size: 12px;background-color: #504d4d;color: #9a8c3d;"> 
                            <option>ABC</option>
                            <option>XYZ</option>
                            <option>PQR</option>
                          </select>
                        </div>  
                        <div class="form-group" style="margin-top: 10px;">
                          <label for="fname" style="color: grey;">ZIP Code*</label>
                          <input style="border: 1px solid #9a8c3d;" type="text" class="form-control" id="fname" name="fname">
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                          <div class="phone-no" style="width: 35%; display: inline-block;">
                            <label for="fname" style="color: grey;">Phone Number*</label><br>
                            
                            <input style="border: 1px solid #9a8c3d;" type="text" class="form-control" id="fname" name="fname">
                          </div>
                          <div class="phone-number" style="float: right;width: 64%; font-size: 10px; color: grey;">
                            <p style="margin-top: 20px;">Please enter a mobile number so that like to recieve delivery updates via text message</p>
                          </div>
                        </div>
                      </div>
                      
                      <p style="text-align: right;"><input type="button" name="btn" value="CANCEL" style="background:#2d2c2c; color: white;">
                        <input type="button" name="btn" value="SAVE" style="background:#9a8c3d; color: white;">
                      </p>
                    </form>
                  </div>
                  <div class="col-md-6" style="padding-top: 131px;">
                    <div class="checkbox">
                      <label style="font-size: 12px; color: grey;"><input type="checkbox">Please check if your billing address is the same as shipping address</label>
                    </div>
                    <h4 style="font-weight: bolder; color: grey;font-size: 15px; border-bottom: 1px solid grey;">BILLING INFORMATION</h4>
                    <form action="" method="">
                      <div class="form-group">
                        <label for="fname" style="color: grey;">First Name*</label>
                        <input style="border: 1px solid #9a8c3d;" type="text" class="form-control" id="fname" placeholder="Enter name" name="fname">
                      </div>
                      <div class="form-group">
                        <label for="lname" style="color: grey;">Last Name*</label>
                        <input style="border: 1px solid #9a8c3d;" type="text" class="form-control" id="lname" placeholder="Enter last name" name="lname">
                      </div>
                      

                      <div class="inline-btn" style="margin-bottom: 20px; border-top: 1px solid #fff;">
                        <div class="form-group">
                          <label><p style="margin-bottom: 0px;margin-top: 10px; color: grey; font-weight: 700;">Country*</p></label>
                          <select name="Country" style="padding: 3px; width: 100%;box-shadow: inset 0 1px 1px rgba(0,0,0,.075); padding: 6px 12px; font-size: 12px;background-color: #504d4d;color: #9a8c3d;"> 
                            <option>USA</option>
                            <option>UK</option>
                            <option>UAE</option>
                            <option>INDIA</option>
                          </select>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                          <label for="fname" style="color: grey; width: 100%;">House no and Street*<span style="float: right;color: #fff; font-size: 10px;">Street Address, P.O.. Box</span></label>
                          <input style="border: 1px solid #9a8c3d;" type="text" class="form-control" id="fname" name="fname">
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                          <label for="fname" style="color: grey; width: 100%;">Address line2(optional)<span style="float: right;color: #fff; font-size: 10px;">Apartment,Suite,Unit,Floor</span></label>
                          <input style="border: 1px solid #9a8c3d;" type="text" class="form-control" id="fname" name="fname">
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                          <label for="fname" style="color: grey; width: 100%;">House no and Street* <span style="float: right;color: #fff; font-size: 10px;">Street Address, P.O.. Box</span></label>
                          <input style="border: 1px solid #9a8c3d;" type="text" class="form-control" id="fname" name="fname">
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                          <label for="fname" style="color: grey; width: 100%;">City*<span style="float: right;color: #fff; font-size: 10px;">Apartment,Suite,Unit,Floor</span></label>
                          <input style="border: 1px solid #9a8c3d;" type="text" class="form-control" id="fname" name="fname">
                        </div>
                        <div class="form-group">
                         <label><p style="margin-bottom: 0px;margin-top: 10px; color: grey; font-weight: 700;">State*</p></label> 
                          <select name="state" style="padding: 3px; width: 100%;box-shadow: inset 0 1px 1px rgba(0,0,0,.075); padding: 6px 12px; font-size: 12px;background-color: #504d4d;color: #9a8c3d;"> 
                            <option>ABC</option>
                            <option>XYZ</option>
                            <option>PQR</option>
                          </select>
                        </div>  
                        <div class="form-group" style="margin-top: 10px;">
                          <label for="fname" style="color: grey;">ZIP Code*</label>
                          <input style="border: 1px solid #9a8c3d;" type="text" class="form-control" id="fname" name="fname">
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                          <div class="phone-no" style="width: 35%; display: inline-block;">
                            <label for="fname" style="color: grey;">Phone Number*</label><br>
                            
                            <input style="border: 1px solid #9a8c3d;" type="text" class="form-control" id="fname" name="fname">
                          </div>
                          <div class="phone-number" style="float: right;width: 64%; font-size: 10px; color: grey;">
                            <p style="margin-top: 20px;">Please enter a mobile number so that like to recieve delivery updates via text message</p>
                          </div>
                        </div>
                      </div>
                      
                      <p style="text-align: right;"><input type="button" name="btn" value="CANCEL" style="background:#2d2c2c; color: white;">
                        <input type="button" name="btn" value="SAVE" style="background:#9a8c3d; color: white;">
                      </p>
                    </form>
                  </div>
                </div>  
              </div>
            </div>
          </div>
      </div>  
  </div>   